<div class="text-right">
    <button type="submit" class="button {{#if colour}}{{ colour }}{{else}}primary{{/if}}">
        <i class="fa fa-{{#if icon}}{{ icon }}{{else}}pencil{{/if}}"></i>
        {{ label }}
    </button>
</div>