<h1 class="text-alert">Delete {{#if miniature.name }}{{ miniature.name }}{{else}}Miniature{{/if}}</h1>
<div class="callout">
    <div class="row">
        <div class="small-12 large-8 columns">
            <form action="{{ base_url }}/delete/{{ miniature._id }}" method="post">
                <p>Please confirm deletion of {{ miniature.name }}</p>

                <div class="row">
                    <div class="small-6 columns">
                        <a href="{{ base_url }}" class="button primary">
                            <i class="fa fa-backward"></i>
                            Cancel
                        </a>
                    </div>

                    <div class="small-6 columns text-right">
                        <button type="submit" class="button alert">
                            <i class="fa fa-trash"></i>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>