<div class="row">
    <div class="small-6 columns">
        <h3>{{ name }}</h3>
    </div>
    <div class="small-2 columns">
        {{type}}
    </div>
    {{#if (concat edit_url delete_url) }}
    <div class="small-2 columns text-right">
        {{cost}}gp
    </div>
    <div class="small-2 columns text-right">
        {{#if edit_url}}
            <a href="{{ edit_url }}" class="button hollow primary small">
                <i class="fa fa-pencil"></i>
            </a>
        {{/if}}
        {{#if delete_url}}
            <a href="{{ delete_url }}" class="button hollow alert small">
                <i class="fa fa-trash"></i>
            </a>
        {{/if}}
    </div>
    {{ else }}
        <div class="small-4 columns text-right">
            {{cost}}gp
        </div>
    {{/if}}
</div>
{{> admin__miniatures__stat_block stat_block }}
{{#if items }}
    <p><strong>Items:</strong> {{join items ', '}}</p>
{{/if}}
{{#if notes }}
    <p>
        <strong>Notes:</strong>
        {{notes}}
    </p>
{{/if}}
