<table>
    <thead>
        <tr>
            <th>Move</th>
            <th>Fight</th>
            <th>Shoot</th>
            <th>Armour</th>
            <th>Will</th>
            <th>Health</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ move }}</td>
            <td>{{ fight }}</td>
            <td>{{ shoot }}</td>
            <td>{{ armour }}</td>
            <td>{{ will }}</td>
            <td>{{ health }}</td>
        </tr>
    </tbody>
</table>